{# templates/authors/showAuthor.html.twig #}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails de l'Auteur</title>
</head>
<body>
<h1>{{ author.username|upper }}</h1>
<img src="{{ author.picture }}" alt="{{ author.username }}">
<p>Email : {{ author.email }}</p>
<p>Nombre de livres : {{ author.nb_books }}</p>
<a href="{{ path('app_author') }}">Retour à la liste des auteurs</a>
</body>
</html>
